
<div class="card mt-4 " style="background-color: #F8F9FA">
    <div class="card-body">
        <h3>{{postagens.titulo}}</h3>
        <small>Data de publicação: {{postagens.data}}</small>
        <hr>
        <p>{{postagens.conteudo}}</p>
        {{!-- <hr>
        <h5>{{postagens.descricao}}</h5> --}}
    </div>
</div>